*.csv linguist-vendored
*.ipynb linguist-language=Python
*.json linguist-vendored
*.nc linguist-vendored
*.py linguist-language=Python
data/** linguist-vendored
notebooks/** linguist-documentation
outputs/** linguist-generated
